/* Full page CSS elements */
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(./assets/beyonce-COB-bw.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Main Page */
.header {
  background-color: #ffffff;
  height: 60px;
}

.hamburger {
  background-image: url(./assets/menu.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-color: black;
  cursor: pointer;
  width: 3%;
  height: 60px;
  border: none;
  padding-left: 60px;
  padding-top: 40px;
  background-position: center;
  float: left;
}

.title {
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  padding-top: 1%;
  padding-right: 5%;
}

.main-section {
  display: flex;
  justify-content: center;
  margin-top: 180px;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.player-inputs {
  width: 100%;
  font-size: 25px;
}

#direction-btn, #play-btn {
  width: 50%;
  background-color: black;
  color: white;
  height: 40px;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.direction-div {
  display: flex;
  justify-content: center;
}

#error {
  color: red;
}

.error-msg {
  display: none;
}

/* Page Two */
.directions-div {
  text-align: center;
  margin-left: 25.1%;
  margin-right: 25.1%;
}

.directions-p {
  text-align: left;
}

/* Game Page */
.game-page {
  /* display: flex; */
}

.game-info {
  background-color: black;
  color: white;
  height: 600px;
  margin-left: 20px;
  text-align: center;
}

#line {
  border-bottom: 2px solid #ffffff;
  margin: 6px;
  margin-bottom: 30px;
}

.card-container {
  margin-left: 200px;
  perspective: 1000px;
}

.card {
  height: 150px;
  width: 100px;
  border: 3px solid purple;
  border-radius: 2px;
  margin: 20px;
  transform-style: preserve-3d;
  transition: transform .5s;
  position: relative;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front-card, .back-card {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front-card {
  transform: rotateY(180deg);
}

.row1, .row3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.row2 {
  display: flex;
  justify-content: space-around;
}

.card1 {
  transform: rotate(-15deg);
}

.card2 {
  transform: rotate(-10deg);
}

.card3 {
  transform: rotate(20deg);
}

.card4 {
  transform: rotate(30deg);
}

.card5 {
  transform: rotate(10deg);
}

.card6 {
  transform: rotate(-3deg);
}

.card7 {
  transform: rotate(10deg);
}

.card8 {
  transform: rotate(-30deg);
}

.card9 {
  transform: rotate(23deg);
}

.card10 {
  transform: rotate(16deg);
}

.card-hide {
  display: none;
}

/* End Game */
.end-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.congrats {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.congrats h1{
  font-size: 40px;
}

.congrats h3{
  font-size: 25px;
}

.restart-btn, .new-game-btn {
  background-color: black;
  color: white;
  width: 300px;
  height: 40px;
  margin: 20px;
}
